## INTEGER

In [2]:
11

11

## FLOAT

In [3]:
print(0.4)
print(2.3e6)
print(5e-4)

0.4
2300000.0
0.0005

## String

In [5]:
print("Hello World")
print("1234")
print('This String contains a quote (")')
print("This String contains a single quote (')")

Hello World
1234
This String contains a quote (")
This String contains a single quote (')

# Boolean

In [6]:
print(True)
print(False)

True
False

In [7]:
print(type(True))

<class 'bool'>

# Variable Assignment

In [11]:
x = 300 + 50

In [12]:
print(x)

350

In [14]:
a = 23.4
b = True
c = "ABCDEF"
d = 123

In [15]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>

In [16]:
a = "STRING1"

In [17]:
print(a)
print(type(a))

STRING1
<class 'str'>

In [18]:
umur = 20
nama_depan = "marcel"
has_laptop = True

namaDepan ="marcel"
hasLaptops = False

## Operators

In [19]:
5 + 6

11

In [20]:
2**5

32

## Comparison

In [22]:
a = 10
b = 20

print(a == b)
print(a != b)

False
True

## String Manipulation

In [23]:
a = 'abc'
b = 'def'
c = 'hij'

In [26]:
print(a + b)
print(a + " " + b)

abcdef
abc def

In [27]:
"abc def"

'abc def'

In [29]:
x = 'abc'

'x' * 4

'xxxx'

In [32]:
s = 'foo'

s in "That is good for us"

False

In [37]:
"one" > "two"

False

In [36]:

"alif" < "zahra"

True

In [38]:
"aaaa" < "aaa"

False

In [42]:
'foo' == "That is food for us"

False

In [41]:
'foo' in "That is food for us"

True

In [48]:
s = 'HackTIV8 abds'

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8 abds
hacktiv8 abds
hACKtiv8 ABDS
Hacktiv8 Abds
HACKTIV8 ABDS

# List

In [54]:
list1 = [1,2,3,4,5]
list2 = ["abc", "def", "ghi"]
list3 = ["abc", 3.4, 1, True]

print(list1, list2, list3)

[1, 2, 3, 4, 5] ['abc', 'def', 'ghi'] ['abc', 3.4, 1, True]

In [62]:
list2[-1] == list2[2]

True

In [61]:
list2[-3]

'abc'

In [65]:
s = s.title()
s

'Hacktiv8 Abds'

In [66]:
[4,3] * 3

[4, 3, 4, 3, 4, 3]

In [71]:
list2 = ["abc", "def", "ghi", "kim", "mop"]

In [73]:
list2[1:4]

['def', 'ghi', 'kim']

In [75]:
s[1:7]

'acktiv'

In [76]:
list1 = [1,2,3,4,5]
list2 = ["abc", "def", "ghi"]
list3 = ["abc", 3.4, 1, True]

In [77]:
list1 + list2

[1, 2, 3, 4, 5, 'abc', 'def', 'ghi']

In [78]:
print(len(list1))
print(len(list2))

5
3

In [79]:
print(s)
print(len(s))

Hacktiv8 Abds
13

In [83]:
print(max(list1))
print(max(list2))
#print(max(list3))

5
ghi

In [84]:
print(min(list1))
print(min(list2))

1
abc

In [85]:
list1

[1, 2, 3, 4, 5]

In [86]:
list1[2] = 45

In [90]:
list1[-2] = 60

In [91]:
list1

[1, 2, 45, 60, 5]

In [92]:
del list1[3]

In [93]:
list1

[1, 2, 45, 5]

In [94]:
list2 = ["abc", "def", "ghi", "kim", "mop"]

In [95]:
list2[1:4] = ['a', 'b', 'c']

In [96]:
list2

['abc', 'a', 'b', 'c', 'mop']

## Tuple

In [98]:
tuple1 = (1,2,3,4,5)
tuple2 = ("abc", "def", "ghi", "kim", "mop")

In [100]:
tuple1[-1]

5

In [101]:
(a, b, c,d,e) = tuple1

In [102]:
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [103]:
titik1 = (3,4)

## Dictionary

In [105]:
list1 = [1,2,3,4,5]
list2 = ["abc", "def", "ghi", "kim", "mop"]

In [106]:
dictionary1 = {
    'pertama' : 1,
    'kedua' : 2,
    'ketiga' : 3,
    'keempat' : 4
}

In [107]:
dictionary1['ketiga']

3

In [110]:
dictionary2 = {
    'London' : 'Arsenal Fc',
    'Liverpool' : 'Liverpool Fc',
    'Manchester' : 'Manchester city'
}

In [112]:
dictionary2['London'] = 'Spurs'

In [114]:
del dictionary2['London']

In [118]:
dictionary2['London'] = 'Arsenal Fc'

In [120]:
dictionary2

{'Liverpool': 'Liverpool Fc',
 'Manchester': 'Manchester city',
 'London': 'Arsenal Fc'}

In [121]:
data_diri = {}

In [122]:
print(data_diri)
print(type(data_diri))

{}
<class 'dict'>

In [123]:
data_diri['nama_depan'] = "Agus"
data_diri['nama_belakang'] = "Gunawan"
data_diri['umur'] = 26
data_diri['nama_anak'] = ['a','b','c']

In [124]:
print(data_diri)

{'nama_depan': 'Agus', 'nama_belakang': 'Gunawan', 'umur': 26, 'nama_anak': ['a', 'b', 'c']}

In [125]:
data_diri['peliharaan'] = {'anjing':'bruno', 'kucing':'meow'}

In [126]:
data_diri['peliharaan']['anjing']

'bruno'

In [134]:
dictionary1.items()

dict_items([('London', 'Arsenal Fc'), ('Liverpool', 'Liverpool Fc'), ('Manchester', 'Manchester city')])

In [131]:
dictionary1.keys()

dict_keys(['London', 'Liverpool', 'Manchester'])

In [132]:
dictionary1.values()

dict_values(['Arsenal Fc', 'Liverpool Fc', 'Manchester city'])